org.talend.remoteserver/WebContent/wsdl/Archive.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://business.archive.remoteserver.talend.org" xmlns:intf="http://business.archive.remoteserver.talend.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://business.archive.remoteserver.talend.org">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://business.archive.remoteserver.talend.org">
   <element name="StoreFile">
    <complexType>
     <sequence>
      <element name="filename" type="xsd:string"/>
      <element name="dh" type="xsd:anyType"/>

     </sequence>
    </complexType>
   </element>
   <element name="StoreFileResponse">
    <complexType>
     <sequence>
      <element name="StoreFileReturn" type="xsd:string"/>
     </sequence>
    </complexType>

   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="StoreFileRequest">

      <wsdl:part element="impl:StoreFile" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="StoreFileResponse">

      <wsdl:part element="impl:StoreFileResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="Archive">

      <wsdl:operation name="StoreFile">

         <wsdl:input message="impl:StoreFileRequest" name="StoreFileRequest"/>

         <wsdl:output message="impl:StoreFileResponse" name="StoreFileResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ArchiveSoapBinding" type="impl:Archive">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="StoreFile">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="StoreFileRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="StoreFileResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ArchiveService">

      <wsdl:port binding="impl:ArchiveSoapBinding" name="Archive">

         <wsdlsoap:address location="http://localhost:8080/org.talend.remoteserver/services/Archive"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
